.app-navigation ul li a.ts-pages-selector-change-link { display:inline; }
.app-navigation ul li input { width:40%;}
form .app-navigation ul {overflow:visible;}

.app-navigation .edit-items-box,
.app-navigation .add-item-box { clear:both; text-align: right;margin-top:5px; margin-right: 10px;}
.app-navigation .edit-items-box a,
.app-navigation .add-item-box a { display:inline; cursor:pointer;  }

.app-navigation ul li .info { padding-top: 10px; padding-left:10px;}

.app-navigation ul li { cursor:move; position:relative; }

.app-navigation a.button { cursor:pointer; border:1px solid #aaa; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding:2px 5px; }