.app-navigation ul li a.ts-pages-selector-change-link { display:inline; }
.app-navigation ul li input { width:40%;}
form .app-navigation ul {overflow:visible;}

.app-navigation .edit-items-box,
.app-navigation .add-item-box { clear:both; text-align: right;margin-top:5px; margin-right: 10px;}
.app-navigation .edit-items-box a,
.app-navigation .add-item-box a { display:inline; cursor:pointer;  }

.app-navigation ul li .drag {position:absolute; top: -5px; left: 30px; width: 50px; height:10px; font-size:1px; letter-spacing:-1px; overflow:hidden;}
.app-navigation ul li .drag a {cursor:move; display:block; width:50px; height:10px; color:transparent; background: transparent url(/navigation/images/dragbar.png) 0px 0px no-repeat;}

.app-navigation ul li .info { padding-top: 10px; padding-left:10px;}

